@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    scroll-behavior: smooth;
}
.header{
    background: transparent;

}
#navigation{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.35rem;
    border-bottom: 0.5px groove gray;
    position: fixed;
    top: 0;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
a, header > a:hover{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: rgb(216, 122, 78);
}
header > a{
    font-weight: 900;
    text-transform: uppercase;
}
.active:active,
.active:focus { 
    color: white;
    font-weight: bold;
}

.active.sticky-color:active,
.active.sticky-color:focus {  
    color: rgb(216, 122, 78);
}

#hamburger-icon, #close-icon{
    color: gray;
    display: none;
}
#hamburger-icon:hover, #close-icon:hover{
    color: rgb(216, 122, 78);
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    color: rgba(255, 255, 255, 0.65);
    list-style-type: none;
    padding-right: 1rem;
    text-transform: capitalize;
}

.header-details .image{
    background-image: url("/images/real-estate\ header-pic.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.image-overlay{
    background-color: rgba(34, 34, 34, 0.75);
    height: 100%;
    
}
.overlay-content{
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 1.5rem;
    width: min(100%, 65%);
    text-align: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}
.overlay-content h1{
    line-height: 2.5rem;
}
.company-details{
    padding:  1.5rem;
}
h2{
    text-align: center;
    margin: 2rem 0;
    color: rgb(216, 122, 78);
}
.company-details{
    text-transform: capitalize;
}
.company-details-content{
    text-align: center;
}
.company-details-content span{
    color: rgb(216, 122, 78);
}
p:nth-child(2){
    font-weight: 700;
    margin: 1rem 0;
}
.company-details-content p{
    color: rgba(34, 34, 34, 0.75);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 2rem;
}
h3{
    margin: 0 1rem;
}
.properties-header, aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    #hamburger-icon{
        display: block;
        cursor: pointer;
    }
    #close-icon.show{
        display: block;
        text-align: end;
        width: 100%;
        padding-right: 1rem;
        cursor: pointer;
    }
    .for-mobile-nav.small-screen{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        position: absolute;
        right: 0;
        gap: 15px;
        top: 1px;
        z-index: 999;
        width: 40%;
        height: 100vh;
        margin: auto;
        background: rgb(34, 34, 34, 0.8);
        padding-top: 3rem;
    }
    ul{
        display: none;
    }
    ul.list-container{
        flex-direction: column;
        align-items: start;
        margin-top: 1rem;
        gap: 15px;
        padding-left: 1rem;
    }
    .header-details .image{
        height: 75vh;
    }
    .overlay-content {
        line-height: 1.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 630px) {
   .overlay-content {
        line-height: 1.5rem;
        font-size: 1rem;
        width: min(100%, 95%);
        padding: 0 0.5rem;
    }
    .overlay-content h1{
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .header-details .image{
        height: 85vh;
    }
    .container{
        display: block;
    }
}

.carousel {
    background: #FAFAFA;
    z-index: -2;   
    padding: 1rem;
}

.carousel-cell {
    width: 25%;
    /* height: auto; Allow the height to adjust based on content */
    margin-right: 10px;
    /* background-color: #8C8; */
    border-radius: 5px;
    overflow: hidden; /* To make sure image doesn't overflow */
  }
  
  .carousel-cell img {
    width: 100%; /* Image takes full width of the cell */
    height: 100%; /* Maintain height proportional to width */
    object-fit: cover; /* Ensures image covers the cell and retains aspect ratio */
  }
  

/* Cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px; /* Center text vertically */
    font-size: 80px;
    color: white;
}

/* Custom button styles */
.custom-button {
    padding: 10px 20px;
    color: #333;
    border: none;
    cursor: pointer;
}
.custom-button:hover{
    font-weight: 700;
}
.flickity-slider{
    position: relative;
    left: 0px;
    z-index: 1;
    bottom: 11rem;
    transform: translateX(-25.8%);
}
.flickity-viewport{
    height : 20rem
}

@media (max-width: 768px) {
    .carousel-cell {
      width: 32%; /* Wider cells for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .carousel-cell {
      width: 100%; /* Full-width for mobile screens */
    }
  }
  