@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    scroll-behavior: smooth;
}
.header{
    background: transparent;
}
#navigation{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.35rem;
    border-bottom: 0.5px groove hsl(0, 1%, 22%);
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
a, header > a:hover{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: rgb(216, 122, 78);
}
header > a{
    font-weight: 900;
    text-transform: uppercase;
}
.active:active,
.active:focus { 
    color: white;
    font-weight: bold;
}

.active.sticky-color:active,
.active.sticky-color:focus {  
    color: rgb(216, 122, 78);
}

#hamburger-icon, #close-icon{
    color: gray;
    display: none;
}
#hamburger-icon:hover, #close-icon:hover{
    color: rgb(216, 122, 78);
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    color: rgba(255, 255, 255, 0.65);
    list-style-type: none;
    padding-right: 1rem;
    text-transform: capitalize;
}

.header-details .image{
    background-image: url("/images/real-estate/header-pic.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.image-overlay{
    background-color: rgba(34, 34, 34, 0.75);
    height: 100%;
    
}
.overlay-content{
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 1.5rem;
    width: min(100%, 65%);
    text-align: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}
.overlay-content h1{
    line-height: 2.5rem;
}
.company-details{
    padding:  1.5rem;
}
h2{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    color: rgb(216, 122, 78);
}
.company-details{
    text-transform: capitalize;
}
.company-details-content {
    text-align: center;
    margin-bottom: 2rem;
}
.company-details-content span{
    color: rgb(216, 122, 78);
    font-size: 3rem;
}
.company-details-content p:nth-child(2){
    font-weight: 700;
    margin: 1rem 0;
}
.company-details-content p{
    color: rgba(34, 34, 34, 0.75);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 2rem;
}
h3,h4{
    margin-left: 1rem;
    color: rgb(216, 122, 78);
    font-size: 2rem;
    text-transform: capitalize;
}
h3{
    margin-left: 3rem;
}
.properties-header, aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}
.property-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    font-size: 0.55rem;
}
.address{
    margin-top: 0.7rem;
    text-align: center;
    font-size: 0.65rem;
    width: 100%;
}
.btn{
    background-color: white;
    color: rgb(216, 122, 78);
    border: 0.5px groove rgb(216, 122, 78);
    border-radius: 4rem;
    padding: 0.6rem 4rem;
    margin: 5rem auto;
    width: fit-content;
}

.btn:hover{
    background-color: rgb(216, 122, 78);
    color: white;
}
#agents{
    padding: 2rem;
}
.agents-content{
    margin: 1.5rem 1rem;
    max-width: 30rem;
}
.agents-detail{
    display: grid;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.agent-detail{
    background: #a5a2a22b;
    margin-bottom: 3rem;
}
.agent-detail img{
    width: 100%;
}
.agent-detail p{
    color: rgba(34, 34, 34, 1);
    text-transform: capitalize;
    margin-left: 1.5rem;
    font-weight: 600;
    padding: 0.4rem 0;
}
.agent-detail p:last-child{
    color: rgba(34, 34, 34, 0.3);
    text-transform: capitalize;
    padding-top: 0;
    font-weight: 300;
}
.show-best{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 6rem;
}
h5{
    font-size: 3rem;
    text-transform: capitalize;
    color: rgb(216, 122, 78);
}
.image-wrapper img{
    width: 26rem;
    border-radius: 10px;
}
.show-best-details{
    align-self: self-start;
}
.show-best-details > p{
    margin: 1.5rem 0;
    line-height: 1.65rem;
}
.show-best-details .classic{
    font-size: 1.6rem;
    line-height: 2rem;
}
.points{
    margin-top: 1.5rem;
}
.show-best-details .points p::before{
    padding-right: 0.6rem;
    content: "\2022";
}
.points p{
    margin-top: 0.7rem;
}
.show-link{
    background-color: white;
    color: rgb(216, 122, 78);
    border: 0.5px groove rgb(216, 122, 78);
    border-radius: 4rem;
    padding: 0.6rem 4rem;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}
.show-link:hover{
    background-color: rgb(216, 122, 78);
    color: white;
}
h6{
    color: rgb(216, 122, 78);
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 3rem;
}
.services-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.service{
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.service-detail{
    margin-bottom: 1rem;
}
.service-link{
    color: rgb(216, 122, 78);
    text-transform: capitalize;
}
#news{
    margin: 5rem 0;
}
.custom-header{
    color: rgb(216, 122, 78);
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    margin: 0 auto 3rem auto;
    display: flex;
    text-transform: capitalize;
}
.slides{
    margin: 0 auto;
    max-width: 50%;
}
.slide{
    display: none;
    position: relative;
    margin: 0 auto;
    max-width: 40rem;
    text-align: center;
}
q{
    font-style: italic;
    line-height: 2rem;
}
.slide p{
    margin: 1.5rem 0;
    font-weight: 600;
}
.news-btn{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    position: relative;
    width: 100%;
    top: 3rem;
}
#previous, #next{
    cursor: pointer;
}
#contact, #about{
    background-color: #e0dede4d;
    padding: 6rem 0;
}
.contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 6rem;
}
.contact-details{
    padding: 1rem;
    width: 20rem;
}
form{
    width: 25rem;
}
.content-detail{
    margin: 1rem 0;
}
form, .contact-details{
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
}
.content-detail p:nth-child(2), #contact-mail{
    color: rgb(216, 122, 78);
}
form p:first-child{
    text-align: center;
    margin: 1.5rem 0;
}
input, textarea{
    margin: 0.5rem 0 1.5rem 0;
    border-radius: 10px;
    padding: 0.2rem;
    width: 20rem;
    outline: none;
    border: 1px groove gray;
}
textarea{
    margin: 0.5rem 0;
    padding: 1rem;
}
button[type="submit"]{
    background-color: white;
    color: rgb(216, 122, 78);
    border: 0.5px groove rgb(216, 122, 78);
    border-radius: 4rem;
    padding: 0.6rem 1rem;
    margin: 2rem auto;
}
button[type="submit"]:hover{
    color: white;
    background-color: rgb(216, 122, 78);
}
footer{
    background-color: hsl(0, 1%, 22%);
    padding: 5rem;  
}
.footer{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 0.5px groove gray;
}
.footer-content-title{
    color: white;
    margin-bottom: 1rem;
}
.last{
    color: gray;
    text-align: center;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0.5rem;
}
.footer-socials{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.footer-btn{
    background-color: rgb(216, 122, 78);
    color: white;
    border-radius: 0 16px 16px 0;
    border: none;
    padding: 0.6rem;
    position: relative;
    bottom: 3.81rem;
    height: 2.26rem;
    left: 14.56rem;
}
.footer-input{
    height: 2.3rem;
    border-radius: 20px;
    padding: 1rem;
}

/* @media screen and (max-width: 768px) {
    #hamburger-icon{
        display: block;
        cursor: pointer;
    }
    #close-icon.show{
        display: block;
        text-align: end;
        width: 100%;
        padding-right: 1rem;
        cursor: pointer;
    }
    .for-mobile-nav.small-screen{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        position: absolute;
        right: 0;
        gap: 15px;
        top: 1px;
        z-index: 999;
        width: 40%;
        height: 111vh;
        margin: auto;
        background: rgb(34, 34, 34, 0.8);
        padding-top: 3rem;
    }
    ul{
        display: none;
    }
    ul.list-container{
        flex-direction: column;
        align-items: start;
        margin-top: 1rem;
        gap: 15px;
        padding-left: 1rem;
    }
    .header-details .image{
        height: 75vh;
    }
    .overlay-content {
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .image-wrapper img{
        display: none;
    }
    .show-best{
        display: block;
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
    h5{
        font-size: 2rem;
    }
    .show-best-details .classic {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 630px) {
   .overlay-content {
        line-height: 1.5rem;
        font-size: 1rem;
        width: min(100%, 95%);
        padding: 0 0.5rem;
    }
    .overlay-content h1{
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 5rem;
    }
    .header-details .image{
        height: 85vh;
    }
    .container{
        display: block;
    }
    .agents-detail{
        display: block;
    }
    .image-wrapper img{
        display: none;
    }
    .show-best{
        display: block;
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
    h5{
        font-size: 2rem;
    }
    .show-best-details .classic {
        font-size: 1rem;
        line-height: 1.5rem;
    }
} */

.carousel {
    background: #FAFAFA;
    z-index: -2;   
    padding: 1rem;
    margin: 3rem 2rem;
    height: 20rem;
}

.carousel-cell {
    width: 25%;
    margin: 0 10px 4rem 0;
    overflow: hidden;
  }
  
  .carousel-cell img {
    width: 100%;
    height: 100%; 
  }
  

/* Cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    font-size: 80px;
    color: white;
}

.custom-button {
    padding: 10px 20px;
    color: #333;
    border: none;
    cursor: pointer;
}
.custom-button:hover{
    font-weight: 700;
}
/* .flickity-slider{
    position: relative;
    left: 0px;
    z-index: 1;
    bottom: 9rem;
    transform: translateX(-25.8%);
}
.flickity-viewport{
    height : 20rem
} */

@media (max-width: 768px) {
    .carousel-cell {
      width: 32%; 
    }
  }
  
  @media (max-width: 480px) {
    .carousel-cell {
      width: 100%;
    }
  }
  









